h1 {
  font-family: "Secular One", sans-serif;
}
h2,
h3 {
  font-family: var(--main-font-family);
  font-weight: bold;
  font-size: 28px;
}
h4 {
  font-family: "Secular One", sans-serif;
  color: #343a2a;
}
body {
  text-align: center;
  background: linear-gradient(
    180.3deg,
    rgb(214, 224, 255) 37.2%,
    rgb(254, 168, 168) 137.3%
  );
}

:root {
  --main-font-family: "Lora", serif;
  --shadows: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.navbar {
  font-family: var(--main-font-family);
  color: #343a2a;
}
.hero {
  text-align: center;
  padding: 120px 20px;
}

.hero h1 {
  font-size: 40px;
}
.hero p {
  font-family: var(--main-font-family);
  font-size: 24px;
}

.hero img,
.contact-photo {
  width: 500px;
  border-radius: 25px;
  height: auto;
  box-shadow: var(--shadows);
}
.start-btn {
  background-color: #5dacbd !important;
  color: #343a2a !important;
  font-family: var(--main-font-family) !important;
  border-color: #343a2a !important;
  font-weight: bold !important;
  box-shadow: var(--shadows);
}

.hero-photo-btn {
  margin-top: 50px;
}
.introduction-to-projects h3 {
  font-weight: bold;
}
.my-projects,
.contact-box {
  background: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);
}

.my-projects img {
  width: 450px;
  border-radius: 5px;
  height: auto;
  box-shadow: var(--shadows);
}
.my-projects h2 {
  font-weight: bold;
}
.my-projects p {
  font-style: italic;
}
.project-description {
  line-height: 25px;
}
.weather-btn,
.coffee-btn {
  background-color: #d6a07e !important;
  color: #343a2a !important;
  font-family: var(--main-font-family) !important;
  border-color: #343a2a !important;
  font-weight: bold !important;
  box-shadow: var(--shadows);
}
.weather-btn {
  background-color: #ffe3e1 !important;
}
@media (max-width: 900px) {
  img {
    width: 300px;
    margin-bottom: 30px;
  }
  h2 {
    font-size: 22px;
  }
  p {
    font-size: 18px;
  }
  a:link {
    font-size: 18px;
  }
}

a:link {
  text-decoration: none;
  color: #343a2a;
}
.contact-me {
  font-size: 30px;
}
.instagram,
.linkedin {
  color: #343a2a;
}
.about-me img {
  width: 400px;
  border-radius: 900px;
  height: auto;
  box-shadow: var(--shadows);
}
.e-mail a {
  font-family: "Secular One", sans-serif;
  font-size: 25px;
}
.description {
  font-size: 18px;
  line-height: 1.5;
}
.work-btn,
.contact-btn {
  background-color: #a7242b !important;
  color: #d6e0ff !important;
  font-family: var(--main-font-family) !important;
  border-color: #a7242b !important;
  font-weight: bold !important;
  box-shadow: var(--shadows);
}

.details p {
  font-size: 20px;
  color: #412a26;
}
.details h2 {
  font-size: 35px;
  color: #412a26;
}
.details img {
  width: 500px;
  border-radius: 3px;
}
.thoughts {
  font-size: 25px;
}
.thoughts a {
  font-family: "Secular One", sans-serif;
}

.contact-box {
  padding: 15px 120px;
  border: 5px double #412a26;
  border-radius: 3px;
}
